# Ativar a engine de reescrita
RewriteEngine on
 
# Se NÃO for um arquivo executar as regras
RewriteCond %{REQUEST_FILENAME} !-f
 
# Se NÃO for um diretório executar as regras
RewriteCond %{REQUEST_FILENAME} !-d
 
# Redireciona para index.php se antender as condições acima
RewriteRule ^(.*)$ index.php

php_flag display_startup_errors off
php_flag display_errors off
php_flag html_errors off
php_value docref_root 0
php_value docref_ext 0
